@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}
.container {
    max-width: 1024px;
    /* max-width: 100%; */
    width: 95%;
    margin: 0 auto;
}
.clear {
    clear: both;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    padding: 1em 0 0;
    margin-bottom: 56px;
}
header .container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu > li {
    float: left;
    list-style: none;
    padding: 1em;
    cursor: pointer;
    border-top: 4px solid transparent;
    position: relative
}
.submenu {
    background-color: rgb(255, 255, 255);
    border-left: 1px solid; 
    border-right: 1px solid; 
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.122);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 300px;
}
.submenu li {
    display: block;
    padding: .5em;
}
.submenu li a {
    color: #000;
    text-decoration: none;
}
.submenu li:hover {
    background-color: gray;
}
.submenu li:hover a {
    color: #fff

}
.menu li:hover .submenu  {
    display: block
}
.menu li:hover {
    border-color: red
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}
.noticia img {
    max-width: 100%;
    max-height: 320px;
}

.destaque {
    margin-bottom: 56px;
}
.destaque .noticia a {
    display: flex;
    font-size: 2em;
    gap: .5em
}

section h2 {
    margin-bottom: 2em;
}

aside {
    padding-left: 40px;
}
aside .noticia {
    margin-bottom: 24px
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 2%;
    row-gap: 5%;
}